.link {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
  color: rgba(15, 15, 16, 0.5);
  position: relative;

  .aboutImg {
    stroke: currentColor;
  }

  &.active {
    color: #0f0f10;

    &::after {
      content: '';
      position: absolute;
      right: -12px;
      top: 50%;
      transform: translateY(-50%);
      width: 6px;
      height: 6px;
      background-color: #4263eb;
      border-radius: 50%;
    }
  }
}
