.header {
  width: 100%;
  max-height: 60px;
  display: flex;
  padding: 15px 20px;
  background-color: #fff;
  margin-bottom: 40px;
  box-shadow: 0px 2px 22.5px 0px rgba(28, 29, 31, 0.05);

  .headerInfo {
    display: flex;
    align-items: center;
    margin-right: 35%;

    .headerLogo {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
  }

  .headerPages {
    display: flex;
    align-items: center;

    .vacanciesPage {
      display: flex;
      align-items: center;
      margin-right: 40px;
    }
  }
}
